html { 
    color: #1D3461;
    background-color: #1F487E;
    font-size: 14pt;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #D2DFEF;
}

@media screen and (max-width: 650px) {

 }


.incomeEntry{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.incomeArray{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
}
.incomeTotal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.expensesEntry{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.expensesArray{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
}

.expensesTotal{
    display: flex;
    justify-content: center;
    align-items: center;
}
